.app-topBar{
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    min-width: var(--html_min-width);
    height: 80px;
    display: flex;
    justify-content: center;
    top: 1em;
    z-index: 10;
}
@media screen and (max-width: 991px) {
    .app-topBar{
        background-color: #111214;
        height: 80px;
        position: relative;
        top: 0;
    }
}

.floating_app-topBar{
    position: fixed;
    top: 0;
    background-color: #111214;
    animation: backInDown;
    animation-duration: var(--animation-duration);
}

.container-xxl{
    margin: 0;
    padding: 0;
}

.mainHeader{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    background: linear-gradient(-20deg, #0B090A 50%, #111214  50%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


.mH_profile_container{
    margin: 0;
    padding: 50px 0 0 0;
    height: max-content;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.mH_profile_Photo_wrapper{
    width: 1fr;
    height: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.mH_profile_Photo_border{
    width: 300px;
    height: 300px;
    background: var(--linear-gradient_1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.mH_profile_Photo_container{
    width: 290px;
    height: 290px;
    background-color: #161A1D;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.mH_profile_Photo_container::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../../../../assets/img/ken.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}



.mH_profile_text_wrapper{
    width: 1fr;
    height: max-content;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.mH_profile_text_container{
    width: 800px;
    height: max-content;
    margin: 10px 0;
    padding: 10px;
}
.mH_profile_text_container>p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}


.mH_info_container{
    margin: 0;
    padding: 0 33px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.mh_info_items_wrp{
    width: 550px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mh_info_item1{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
}
.mh_info_item1>h3{
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    color: white;
    margin: 0 5px 0 0;
    padding: 0;
}
.mh_info_item1>p{
    color: grey;
    width: 110px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 6px 0 0 0;
    padding: 0;
}



.mh_info_email{
    position: relative;
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;
}
.mh_info_link-1,
.mh_info_link-2{text-decoration: none;}

.mh_info_email_wrp{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mh_info_email_text{
    width: max-content;
    height: max-content;
    text-align: end;
    color: white;
}
.mh_info_email_text>p{
    color: grey;
    margin-top: 5px;
    user-select: none;
}
.mh_info_email_text>*{
    margin-bottom: 5px;
}

.mh_info_link-1:hover .mh_info_email_text>h6{
    color: crimson;
}

.mh_info_email_icon{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, #0B090A 30%, #111214  50%);
}
.email_svgIcon{
    position: absolute;
    width: 50%;
    height: 50%;
    mask: url('../../../../assets/icons/email_icon_1.svg') no-repeat;
    background-color: crimson;
}

.mh_info_link-2>h6{
    text-align: end;
    width: max-content;
    color: #363f47;
    position: absolute;
    right: 5px;
    bottom: -70px;
}
.mh_info_link-2:hover>h6{
    filter: brightness(1.5);
}


@media screen and (max-width: 768px) {
    .mH_info_container{
        height: 250px;
        display: block;
    }
}
@media screen and (max-width: 587px) {
    .mH_info_container{
        height: 500px;
        display: block;
        padding: 0 0 0 33px;
    }
    .mh_info_items_wrp{
        width: 280px;
        display: block;
        overflow: hidden;
    }
    .mh_info_item1{
        position: relative;
        margin-bottom: 40px;
    }
    .mh_info_item1:nth-last-of-type(3){
        left: 0px;
    }
    .mh_info_item1:nth-last-of-type(2){
        left: 90px;
    }
    .mh_info_item1:nth-last-of-type(1){
        left: 170px;
    }
    .mh_info_link-2>h6{
        right: 0;
        width: 100%;
        height: max-content;
        margin-right: 5px;
    }
}

.mH_separator{
    height: 1px;
    position: relative;
    background-color: #0B090A;
}
.mH_separator>div{
    width: 100%;
    height: 100%;
    background: var(--linear-gradient_2);
    position: absolute;
    bottom: 1px;
}

.mH_separator-2>div{
    transform: rotateY(180deg);
}


.mainBody{
    width: 100%;
    min-height: 99vh;
    background-color: #0B090A;
    padding: 0 33px 33px 30px;
    display: flex;
    justify-content: center;
}
.mainBody_intro{
    min-height: max-content;
}

.habilidades_container{
    --width-hdds: 570px;
    width: 100%;
    height: max-content;
    display: grid;
    gap: 3em 1em;
    grid-template-columns: repeat(auto-fit, minmax(var(--width-hdds), 1fr));
    justify-items: center;
    padding: 50px 0 100px 0;
}

.habilidad_box{
    width: 100%;
    max-width: 570px;
    height: max-content;
    min-height: 230px;
    background-color: #1A1819;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

@media screen and (min-width: 636px) and (max-width: 1218px) {
    .habilidad_box:nth-child(2n-1){justify-self: start;}
    .habilidad_box:nth-child(2n){justify-self: end;}
}
@media screen and (max-width: 636px) {
    .habilidades_container{--width-hdds: 100%;}
}

.habilidad_icon_wrp{
    width: 30%;
    min-width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidad_icon_wrp>div{
    width: 100%;
    background: var(--linear-gradient_1);
    margin: 1em;
}
.habilidad_icon_wrp>.hbd_icon_1{
    height: 62px;
    mask: url('../../../../assets/icons/browser-web-page-svgrepo-com2.svg') no-repeat;
    mask-position: center;
    mask-size: contain;
}
.habilidad_icon_wrp>.hbd_icon_2{
    height: 75px;
    mask: url('../../../../assets/icons/desk-work-6-svgrepo-com.svg') no-repeat;
    mask-position: center;
    mask-size: contain;
}

.habilidad_text_wrp{
    width: 70%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 1em 1em 0;
}
.habilidad_text_wrp>h1{
    width: 100%;
    color: snow;
    font-family: var(--font-family_1);
    text-transform: capitalize;
}
.habilidad_text_wrp>p{
    color: snow;
    margin: 0;
    font-family: var(--font-family_1);
}

@media screen and (max-width: 480px) {
    .habilidad_box{
        flex-wrap: wrap;
        padding: 1em 0;
    }
    .habilidad_icon_wrp,
    .habilidad_text_wrp{
        width: 100%;
        height: max-content;
        padding: 1em;
    }
    .habilidad_icon_wrp>div{margin: 0;}
    .habilidad_icon_wrp>.hbd_icon_1{
        mask: url('../../../../assets/icons/browser-web-page-svgrepo-com2.svg') no-repeat;
        mask-position: start;
        mask-size: contain;
    }
    .habilidad_icon_wrp>.hbd_icon_2{
        mask: url('../../../../assets/icons/desk-work-6-svgrepo-com.svg') no-repeat;
        mask-position: start;
        mask-size: contain;
    }
}

.PersonalProject_parent_container{
    position: relative;
    overflow: hidden;
}

.PersonalProject_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0B090A 0%, transparent 25%, transparent 75%, #0B090A 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    pointer-events: none;
}

.PersonalProject_titles{
    width: max-content;
    height: max-content;
    background-color: #0B090A;
    padding: 10px 15px;
    border-radius: 20px;
    opacity: 0.8;
}
.PersonalProject_titles>p{
    margin: 0;
    color: snow;
    font-family: var(--font-family_2);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1em;
}

.PersonalProject_buttonscroll{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 44%;
    border-radius: 100%;
    mask: url('../../../../assets/icons/up-arrow.svg') no-repeat;
    background-color: grey;
    background-position: center;
    cursor: pointer;
}
.PersonalProject_buttonscroll:hover{filter: brightness(1.3);}
.PP_bscroll-1{left: 15px; transform: rotateZ(-90deg);}
.PP_bscroll-2{right: 15px; transform: rotateZ(90deg);}

.PersonalProject_container{
    width: 1fr;
    height: max-content;
    overflow: none;
    position: relative;
}

.PersonalProject_wrapper{
    background-color: #1A1819;
    width: 100%;
    height: max-content;
    padding: 70px 0;
}

.PersonalProject_items{
    --PersonalProject_items-width: 0;
    --PersonalProject_items-width_center: 0;
    --scrollPixeles: 0;
    --lastItemPixels: 0;
    width: 100%;
    height: max-content;
}

.PersonalProject_items_wrp{
    display: grid;
    grid-template-columns: repeat(auto-fit, max-content);
    grid-template-rows: 300px;
    grid-auto-flow: column;
    user-select: none;
    align-items: center;
    padding-left: var(--PersonalProject_items-width_center);
    transform: translateX(var(--scrollPixeles));
    transition: transform .5s ease;
}


.lockButton{
    pointer-events: none;
}

.ppjct_item{
    width: var(--PersonalProject_items-width);
    max-width: 600px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PersonalProject_img{
    width: 80.3%;
    height: auto;
    transform: scale(100%);
    transition: transform .5s ease-in-out;
}
.PPjct_img_scale{
    transform: scale(140%);
}
@media screen and (max-width: 750px) {
    .PPjct_img_scale{
        transform: scale(123%);
    }
}


.CV_container{
    margin-top: 70px;
}
.CV_container:first-of-type{
    margin-top: 0;
}

.subtitle_container{
    width: 1fr;
    height: max-content;
    background-color: #282828;
    padding: 2px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    flex-wrap: wrap;
    pointer-events: none;
}
.subtitle_container>h5{
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: #fffafa98;
    margin: 5px 10px 5px 0;
}

.subtitle_icon{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
}
.subtitle_icon>h6{
    align-self: center;
    color: #fffafa98;
    margin: 0;
    height: fit-content;
    margin-right: 5px;
}
.CVchips_container{
    width: max-content;
    height: max-content;
}

.CVchip_img{
    position: relative;
}
.CVchip_img>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.cv_Container{
    width: 1fr;
    min-height: 350px;
    border-radius: 0 0 5px 5px;
    position: relative;
    overflow: hidden;
}
.cv_Container:hover{
    cursor: pointer;
}
.cv_Container>*{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 563px) {
    .cv_Container{height: 650px}
}

.cv_images{
    z-index: 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cv_page1,.cv_page2{
    width: 200px;
    margin-left: 50px;
    transition: .2s ease;
}
.cv_Container:hover>.cv_images>*{
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 5px 5px 5px #050404;
}

.cv_video{
    object-fit: cover;
    filter: blur(5px);
}

.cv_layer{
    background: linear-gradient(to top, #0B090A 40%, transparent 90%);
    opacity: .5;
    mix-blend-mode: overlay;
    transition: .5s ease;
}
.cv_Container:hover>.cv_layer{
    opacity: .9;
}



.assets_set_container{
    margin: 100px 0 0 0;
    padding: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}
.assets_set_container>div{
    margin: 0 0 100px 0;
    padding: 0;
    width: 522px;
}


.asset_cntr{
    max-width: 520px;
    height: max-content;
    padding: 30px;
    background-color: #282828;
    border-radius: 5px;
}
.assets_set_container>div:nth-of-type(2n)>.asset_cntr{
    position: relative;
    bottom: 40px;
    margin: 0 0 0 15px;
}
.assets_set_container>div:nth-of-type(2n+1)>.asset_cntr{
    position: relative;
    top: 40px;
    margin: 0 15px 0 0;
}

@media screen and (max-width: 1106px) {
    .assets_set_container>div:nth-of-type(2n)>.asset_cntr{
        position: relative;
        bottom: 0px;
        margin: 0;
    }
    .assets_set_container>div:nth-of-type(2n+1)>.asset_cntr{
        position: relative;
        top: 0px;
        margin: 0;
    }
}

.asset_titulo_cntr,
.asset_content_cntr,
.asset_foot_cntr{
    width: 1fr;
    height: max-content;
}

.asset_titulo_cntr>h6{
    font-size: 22px;
    font-family: var(--font-family_1);
    text-transform: capitalize;
    color: white;
}
.asset_titulo_cntr>p{
    font-size: 15px;
    font-family: var(--font-family_1);
    color: #fffafa98;
}

.asset_content_cntr{
    height: 58vw;
    max-height: 345px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asset_img_1{
    background: url('../../../../assets/svg/logoGitchcolor.svg') no-repeat;
}
.asset_img_2{
    background: url('../../../../assets/svg/creatorEvents_icon.svg') no-repeat;
}
.asset_img_3{
    background: url('../../../../assets/svg/GetGids_icon.svg') no-repeat;
}
.asset_img_4{
    background: url('../../../../assets/svg/allDiamons.svg') no-repeat;
}

.asset_img_wrp{
    background-color: #1a1819;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path .3s ease-out;
}

.asset_content_cntr:hover>.asset_img_wrp{
    clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
}

.asset_foot_cntr{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.asset_chip_foot{
    width: max-content;
}

.mB_title,
.mainBody_title{
    position: relative;
    margin: 120px 0 100px 0;
}

.mainBody_title>h1,
.mB_title>h1{
    color: transparent;
    font-size: 3rem;
    font-family: var(--font-family_2);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;

    background: var(--linear-gradient_3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-color: transparent;
    filter: brightness(1.3);
}

.mainBody_title>p,
.mB_title>p{
    color: snow;
    text-align: center;
    font-family: var(--font-family_1);
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indexScrollTo{
    position: absolute;
    top: -7.5em;
    width: 100px;
    height: 0;
}


/* -------------animations---------------- */

.opening_animation>.habilidad_box,
.opening_animation>.PersonalProject_parent_container,
.assets_set_container>.opening_animation:nth-of-type(2n)>.asset_cntr,
.assets_set_container>.opening_animation:nth-of-type(2n+1)>.asset_cntr,
.opening_animation>.CV_container{
    opacity: 0;
}
.runOpAnimation>.habilidad_box,
.runOpAnimation>.PersonalProject_parent_container,
.assets_set_container>.runOpAnimation:nth-of-type(2n)>.asset_cntr,
.assets_set_container>.runOpAnimation:nth-of-type(2n+1)>.asset_cntr,
.runOpAnimation>.CV_container{
    opacity: 1;
}

.runOpAnimation>.habilidad_box{
    animation: fadeIn;
    animation-duration: var(--animation-duration-v2);
}
.runOpAnimation>.PersonalProject_parent_container{
    animation: fadeInUp;
    animation-duration: var(--animation-duration-v2);
}
.assets_set_container>.runOpAnimation:nth-of-type(2n)>.asset_cntr{
    animation: fadeInRight;
    animation-duration: var(--animation-duration-v2);
}
.assets_set_container>.runOpAnimation:nth-of-type(2n+1)>.asset_cntr{
    animation: fadeInLeft;
    animation-duration: var(--animation-duration-v2);
}
.runOpAnimation>.CV_container{
    animation: fadeInUp;
    animation-duration: var(--animation-duration-v2);
}
/* -------------------------------------------- */


.progress_circle_wrapper{
    --progress_bar-width: 5px;
    --progress_bar-color: green;
    width: max-content;
    height: max-content;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity .5s ease-in-out 0s;
    transform: scale(.45);
    z-index: 10;
}
.hide_progress_circle{
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease-in-out 0s;
}
.progress_circle_wrp2{
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: rotateZ(-90deg);
    cursor: pointer;
}

.progress_circle{
    width: 100px;
    height: 100px;
}

.back_circle{
    stroke: #fffafa00;
    fill: none;
    stroke-width: 6px;
}
.progress-circle_bar{
    stroke: #4CC9F0;
    fill: none;
    stroke-width: 4px;
}
.front_circle{
    fill: #808080e3;
}

.progress_icon{
    position: absolute;
    width: 75%;
    height: 75%;
    background-color: #282828;
    mask: url('../../../../assets/icons/up-arrow.svg') no-repeat;
    mask-position: center;
    mask-size: contain;
    transform: rotateZ(90deg);
}

.ppjct_prototype{
    cursor: pointer;
}