<div class="mainHeader">
    <div class="mH_profile_container container-xxl row">

        <div class="mH_profile_Photo_wrapper col-lg-4">
            <div  class="mH_profile_Photo_border">
                <div class="mH_profile_Photo_container"></div>
            </div>
        </div>

        <div class="mH_profile_text_wrapper col-lg-8">
            <div class="mH_profile_text_container">
                <P>Hola, yo soy Eric y te doy la bienvenida a mi portafolio, aquí podrás ver mis habilidades como desarrollador front-end y mi pasión al diseño.</P>
            </div>
        </div>

        <div class="mH_info_container col">

           <div class="mh_info_items_wrp">
             <div class="mh_info_item1">
                 <h3>4</h3>
                 <p>años de aprendizaje autodidacta</p>
             </div>
             <div class="mh_info_item1">
                 <h3>2</h3>
                 <p>años de experiencia laboral</p>
             </div>
             <div class="mh_info_item1">
                 <h3>1</h3>
                 <p>proyecto personal</p>
             </div>
           </div>

           <div class="mh_info_email">
            <div class="mh_info_email_wrp">
                <div class="mh_info_email_text">
                     <p>Ponte en contacto</p>
                     <h6>eric.frontenddev@gmail.com</h6>
                </div>
                 <div class="mh_info_email_icon">
                     <div class="email_background"></div>
                     <div class="email_svgIcon"></div>
                 </div>
             </div>
             <h6>linkedin: www.linkedin.com/in/eric-dev-front</h6>
           </div>
        
        </div>
    </div>
</div>

<div class="mH_separator"><div></div></div>

<div class="mainBody">
    <div class="mainBody_wrp container-xxl">

        <div class="PersonalProject_parent_container">
            <div class="PersonalProject_container">
                <div class="PersonalProject_wrapper">
                    <div class="PersonalProject_items" 
                    [style.--PersonalProject_items-width]="ItemsContainerWidth"
                    [style.--PersonalProject_items-width_center]="ItemsContainerWidthCenter"
                    [style.--scrollPixeles]="scrollPixeles"
                    >
                        <div class="PersonalProject_items_wrp">
                            <div class="ppjct_item">
                                <div class="PersonalProject_img PersonalProject_point">
                                    <div class="circle_item"></div>
                                </div>
                            </div>
                            <div class="ppjct_item">
                                <img class="PersonalProject_img" src="../../../../assets/img/screenshots/captura 1.png" alt="captura-1-png">
                            </div>
                            <div class="ppjct_item">
                                <img class="PersonalProject_img" src="../../../../assets/img/screenshots/captura 1.png" alt="captura-1-png">
                            </div>
                            <div class="ppjct_item">
                                <img class="PersonalProject_img" src="../../../../assets/img/screenshots/captura 1.png" alt="captura-1-png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PersonalProject_buttonscroll PP_bscroll-1"></div>
            <div class="PersonalProject_buttonscroll PP_bscroll-2"></div>
        </div>

        <div class="CV_container">
            <div class="subtitle_container">
                <h5>Como hice el Curriculum vitae</h5>
                <div class="subtitle_icon">
                    <h6>tecnologia:</h6>
                    <div class="CVchips_container">
                        <mat-chip-list aria-label="Dog selection">
                            <mat-chip>
                              <mat-chip-avatar class="CVchip_img">
                                  <img src="../../../../assets/img/adobe-illustrator.png" alt="adobe-illustrator_icon"/>
                              </mat-chip-avatar>
                              Adobe illustrator
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div class="cv_Container">
            
                <div class="cv_images">
                    <img class="cv_page1" src="../../../../assets/img/cv2022-1.png" alt="cv_page1">
                    <img class="cv_page2" src="../../../../assets/img/cv2022-2.png" alt="cv_page2">
                </div>
            
                <video class="cv_video" muted autoplay loop>
                    <source src="../../../../assets/videos/51.mp4" type="video/mp4">
                </video>
            
                <div class="cv_layer"></div>
            
            </div>
        </div>

        <div class="assets_set_container container-fluid row">

            <div class="col-auto">
                <div class="asset_cntr">
                    <div class="asset_titulo_cntr">
                        <h6>asset #1</h6>
                        <p>Diseño creativo para app web</p>
                    </div>
                    <div class="asset_content_cntr">
                        <div class="asset_img_wrp asset_img_1"></div>
                    </div>
                    <div class="asset_foot_cntr">
                        <div class="asset_chip_foot">
                            <mat-chip-list aria-label="Dog selection">
                                <mat-chip>
                                  <mat-chip-avatar class="CVchip_img">
                                      <img src="../../../../assets/img/adobe-illustrator.png" alt="adobe-illustrator_icon"/>
                                  </mat-chip-avatar>
                                  Adobe illustrator
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="asset_cntr">
                    <div class="asset_titulo_cntr">
                        <h6>asset #2</h6>
                        <p>Diseño creativo para app web</p>
                    </div>
                    <div class="asset_content_cntr">
                        <div class="asset_img_wrp asset_img_2"></div>
                    </div>
                    <div class="asset_foot_cntr">
                        <div class="asset_chip_foot">
                            <mat-chip-list aria-label="Dog selection">
                                <mat-chip>
                                  <mat-chip-avatar class="CVchip_img">
                                      <img src="../../../../assets/img/adobe-illustrator.png" alt="adobe-illustrator_icon"/>
                                  </mat-chip-avatar>
                                  Adobe illustrator
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="asset_cntr">
                    <div class="asset_titulo_cntr">
                        <h6>asset #3</h6>
                        <p>Diseño creativo para app web</p>
                    </div>
                    <div class="asset_content_cntr">
                        <div class="asset_img_wrp asset_img_3"></div>
                    </div>
                    <div class="asset_foot_cntr">
                        <div class="asset_chip_foot">
                            <mat-chip-list aria-label="Dog selection">
                                <mat-chip>
                                  <mat-chip-avatar class="CVchip_img">
                                      <img src="../../../../assets/img/adobe-illustrator.png" alt="adobe-illustrator_icon"/>
                                  </mat-chip-avatar>
                                  Adobe illustrator
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-auto">
                <div class="asset_cntr">
                    <div class="asset_titulo_cntr">
                        <h6>asset #4</h6>
                        <p>Diseño creativo para app web</p>
                    </div>
                    <div class="asset_content_cntr">
                        <div class="asset_img_wrp asset_img_4"></div>
                    </div>
                    <div class="asset_foot_cntr">
                        <div class="asset_chip_foot">
                            <mat-chip-list aria-label="Dog selection">
                                <mat-chip>
                                  <mat-chip-avatar class="CVchip_img">
                                      <img src="../../../../assets/img/adobe-illustrator.png" alt="adobe-illustrator_icon"/>
                                  </mat-chip-avatar>
                                  Adobe illustrator
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
