<div class="topBar_container">
    <div class="indexLinks_wrapper">
        <div>
            <button class="i_linkButton" (click)="indexScrollTo('.habilidades')">habilidades</button>
            <button class="i_linkButton" (click)="indexScrollTo('.proyectos')">proyectos</button>
            <button class="i_linkButton" (click)="indexScrollTo('.ilustraciones')">ilustraciones</button>
            <button class="i_linkButton" (click)="indexScrollTo('.portafolio_y_cv')">portafolio y cv</button>
        </div>
    </div>
    <div class="indexMenu_icon" (click)="openIndexMenu(isOpenMenu)"></div>
</div>
